<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<form id="mergeFrom" th:action="@{save}" th:object="${sitDown}" method="post">
    <table cellspacing="0" cellPadding="0" class="addTable">
        <tr>
            <td class="rightTd" style="width:100px;">坐落位置：</td>
            <td>
                <input id="name" name="name" class="easyui-textbox"
                       data-options="required:true,missingMessage:null" style="width:200px;height:28px;"
                       th:value="*{name}"/>
            </td>
        </tr>
        <tr>
            <td class="rightTd" style="width:100px;">所属管理处：</td>
            <td class="leftTd">
                <select name="managerPoint" class="easyui-combobox"
                        data-options="panelMaxHeight:200,panelHeight:'auto',editable:false"
                        style="width:200px;;height:28px">
                    <option th:each="item:${managePoint}"
                            th:value="${item.id}"
                            th:selected="${sitDown.managerPoint eq item.id}"
                            th:text="${item.name}"></option>
                </select>

            </td>
        </tr>
        <tr>
            <td class="rightTd" style="width:100px;">是否启用：</td>
            <td>
                <input class="easyui-switchbutton" th:checked="${sitDown.ztBz=='T'?1:0}"
                       style="height:28px;"
                       data-options="onText:'启用',offText:'停用',
                        onChange:function(checked){
                        if(checked){
                        $('#ztBz').val('T');
                        } else{
                        $('#ztBz').val('F');
                        }
                        }">
            </td>
        </tr>
    </table>
    <input hidden="true" name="ztBz" id="ztBz" th:value="*{ztBz}"/>
    <input hidden="true" name="id" id="id" th:value="*{id}"/>
</form>
</body>
</html>