<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout/header}">
    <div layout:fragment="content"  style="padding: 5px;">
        <table id="dg"></table>
        <div id="top-toolbar">
            <div class="m-toolbar">
                <div class="m-left e-icon5 ">
                    <span style="padding-left: 10px">管理处：<select id="point_id" name="point_id" class="easyui-combobox"
                                                                  data-options="panelMaxHeight:200,panelHeight:'auto',editable:false"
                                                                  style="width:200px;height:28px">
                                <option th:each="item:${pitList}"
                                        th:value="${item.id}"
                                        th:text="${item.name}"></option>
                            </select></span>
                    <span>
                    <input id="searchbox" class=" easyui-searchbox" data-options="prompt:'输入关键字查询',searcher:f_search"
                           style="width:200px;height: 28px;">
                    <button class="easyui-linkbutton"
                            data-options="plain:true,height:28,iconCls:'e-icon1 fa fa-plus'"
                            th:onclick="mergeRow(null)">添加
                    </button>
                </div>
            </div>
        </div>
        <div id="content" Style="display: none;padding:10px 30px;"></div>
        <script type="text/javascript" th:src="@{/static/js/plugins/columns-ext.js}"></script>
        <script type="text/javascript" th:src="@{/static/js/plugins/datagrid-dnd.js}"></script>
        <script type="text/javascript" th:src="@{/static/js/plugins/jqueryform.js}"></script>
        <script type="text/javascript" th:inline="none" th:src="@{/static/js/admin/sitdown.js}"></script>

    </div>
</html>
