<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--suppress ThymeleafVariablesResolveInspection -->
<html xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="renderer" content="webkit">
        <meta http-equiv="pragma" content="no-cache">
        <meta http-equiv="cache-control" content="no-cache">
        <meta http-equiv="expires" content="0">
        <title>欢迎使用</title>
        <link rel="shortcut icon" th:href="@{/static/images/favicon.ico}" type="image/x-icon"/>
        <link rel="stylesheet" type="text/css" th:href="@{/static/js/themes/bootstrap/easyui.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/static/js/themes/icon.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/static/js/themes/color.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/static/css/font-awesome.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/static/js/themes/mobile.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/static/css/public.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/static/css/oaNav.css}">
        <script type="text/javascript" th:src="@{/static/js/jquery.min.js}"></script>
        <script type="text/javascript" th:src="@{/static/js/jquery.easyui.min.js}"></script>
        <script type="text/javascript" th:src="@{/static/js/jquery.easyui.mobile.js}"></script>
        <script type="text/javascript" th:src="@{/static/js/locale/easyui-lang-zh_CN.js}"></script>
        <script type="text/javascript" th:src="@{/static/js/LG.js}"></script>
        <script type="text/javascript" th:src="@{/static/js/php.js}"></script>
        <script type="text/javascript" th:src="@{/static/js/security.js}"></script>
        <script type="text/javascript" th:src="@{/static/js/loading.js}"></script>
        <!--[if lt IE 9]>
        <script type="text/javascript" th:src="@{/static/js/html5.js}"></script>
        <![endif]-->
    </head>
    <body  class="easyui-layout">
        <div id="mainPanle" layout:fragment="content" class="easyui-navpanel"  style="padding: 5px;border: 0" data-options="fit:true">
        </div>
    </body>
</html>
