<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<form method="post" class="easyui-form" id="bookSetForm" th:object="${accounInfo}" action="save">
    <table cellspacing="0" cellPadding="0" class="addTable">
        <tr>
            <td class="rightTd" width="100px">
                启用状态：
            </td>
            <td class="leftTd">
                <input class="easyui-switchbutton" th:checked="${accounInfo.ztbz=='T'?1:0}"
                       style="height:28px;"
                       data-options="onText:'启用',offText:'停用',
                        onChange:function(checked){
                        if(checked){
                        $('#ztbz').val('T');
                        } else{
                        $('#ztbz').val('F');
                        }
                        }">
            </td>
        </tr>
        <tr>
            <td class="rightTd" width="100px">
                账套编号：
            </td>
            <td class="leftTd">
                <input th:value="*{bookSet}"  th:disabled="${disabled}" name="bookSet" data-options="required:true,missingMessage:null" class="easyui-textbox"
                style="width:200px;height:26px;"/>
            </td>
        </tr>
        <tr>
            <td class="rightTd" width="100px">
                账套名称：
            </td>
            <td class="leftTd">
                <input th:value="*{accounName}"  name="accounName" data-options="required:true,missingMessage:null" class="easyui-textbox"
                       style="width:200px;height:26px;"/>
            </td>
        </tr>
        <tr>
            <td class="rightTd" width="100px">
                显示图标：
            </td>
            <td class="leftTd">
                <input th:value="*{icons}"  name="icons"  class="easyui-textbox"
                       style="width:200px;height:26px;"/>
            </td>
        </tr>
        <tr>
            <td class="rightTd" width="100px">
                注册单位：
            </td>
            <td class="leftTd">
                <input th:value="*{corpName}"  name="corpName" data-options="required:true,missingMessage:null" class="easyui-textbox"
                       style="width:200px;height:26px;"/>
            </td>

        </tr>
        <tr>
            <td class="rightTd" width="100px">
                描述：
            </td>
            <td  class="leftTd">
                <input th:value="*{remarks}"  name="remarks"  class="easyui-textbox"
                       style="width:200px;height:26px;"/>
            </td>
        </tr>

        <input hidden="true" name="id" id="id" th:value="*{id}"/>
        <input hidden="true" name="ztbz" id="ztbz" th:value="*{ztbz}"/>
    </table>
</form>
</body>
</html>
