<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<form id="assetsInfoForm" th:action="@{save}" th:object="${assetsInfo}" method="post">
    <div class="easyui-tabs searchFrame" data-options="fit:true,border:false,plain:true"
         style="width:100%;height:300px">
        <div title="基础信息">
            <table cellspacing="0" cellPadding="0" class="addTable">
                <tr>
                    <td class="rightTd" style="width:100px;">房产状态：</td>
                    <td>
                        <select id="ztBz" name="ztBz"  class="easyui-combobox" data-options="
                panelMaxHeight:200,editable:false" style="width:200px;height:28px;">
                            <option th:each="item:${houseState}"
                                    th:value="${item.values}"
                                    th:selected="${assetsInfo.ztBz eq item.values}"
                                    th:text="${item.name}"></option>
                        </select>
                    </td>
                    <td class="rightTd" style="width:100px;">卡片编号：</td>
                    <td>
                        <input id="cardNumber" name="cardNumber" class="easyui-textbox" style="width:200px;height:28px;"
                               th:value="*{cardNumber}"/>

                    </td>
                </tr>
                <tr>
                    <td class="rightTd" style="width:100px;"><i class="info">*</i>公司名称：</td>
                    <td>
                        <input id="companyName" name="companyName" class="easyui-textbox"
                               data-options="editable:false,height:28,width:200,icons:[{
				               iconCls:'icon-search',
				               handler: function(e){
					            listBillCorpInfo();
				               }
			                   }]" th:value="*{companyName}"/>
                    </td>
                    <td class="rightTd" style="width:100px;"><i class="info">*</i>管辖部门：</td>
                    <td>
                        <input id="deptName" name="deptName" class="easyui-textbox"
                               data-options="editable:false,height:28,width:200,icons:[{
				               iconCls:'icon-search',
				               handler: function(e){
					            listDeptInfo();
				               }
			                   }]" th:value="*{deptName}"/>
                    </td>
                </tr>
                <tr>
                    <td class="rightTd" style="width:100px;"><i class="info">*</i>管理处：</td>
                    <td>
                        <input id="managePointName" name="managePointName" class="easyui-textbox"
                               data-options="editable:false,height:28,width:200,icons:[{
				               iconCls:'icon-search',
				               handler: function(e){
					            listManagePointInfo();
				               }
			                   }]" th:value="*{managePointName}"/>
                    </td>
                    <td class="rightTd" style="width:100px;"><i class="info">*</i>坐落位置：</td>
                    <td>
                        <input id="sitDownName" name="sitDownName"
                               data-options="editable:false,height:28,width:200,icons:[{
				               iconCls:'icon-search',
				               handler: function(e){
					            listSitDownInfo();
				               }
			                   }]" th:value="*{sitDownName}"/>
                    </td>

                </tr>
                <tr>
                    <td class="rightTd" style="width:100px;"><i class="info">*</i>房产类型：</td>
                    <td>
                        <input id="assetsTypeName" name="assetsTypeName" class="easyui-textbox"
                               data-options="editable:false,height:28,width:200,icons:[{
				               iconCls:'icon-search',
				               handler: function(e){
					            listAssetsTypeInfo();
				               }
			                   }]" th:value="*{assetsTypeName}"/>
                    </td>

                    <td class="rightTd" style="width:100px;">房产结构：</td>
                    <td>
                        <select id="structure" name="structure"  data-options="
                panelMaxHeight:200,editable:true" style="width:200px;height:28px;">
                            <option th:each="item:${structure}"
                                    th:value="${item.values}"
                                    th:selected="${assetsInfo.structure eq item.values}"
                                    th:text="${item.name}"></option>
                        </select>
                    </td>

                </tr>
                <tr>
                    <td class="rightTd" style="width:100px;"><i class="info">*</i>房产名称：</td>
                    <td>
                        <input id="assetName" name="assetName" class="easyui-textbox" style="width:200px;height:28px;"
                               th:value="*{assetName}"/>
                    </td>
                    <td class="rightTd" style="width:100px;">现用名：</td>
                    <td>
                        <input id="nowName" name="nowName" class="easyui-textbox" style="width:200px;height:28px;"
                               th:value="*{nowName}"/>
                    </td>
                </tr>
                <tr>
                    <td class="rightTd" style="width:100px;">计量单位：</td>
                    <td>
                        <select id="assetUnit" name="assetUnit" class="easyui-combobox" data-options="
                panelMaxHeight:200,editable:true,onHidePanel:function(){validateComboboxInputValue(this)}" style="width:200px;height:28px;">
                            <option th:each="item:${assetUnit}"
                                    th:value="${item.values}"
                                    th:selected="${assetsInfo.assetUnit eq item.values}"
                                    th:text="${item.name}"></option>
                        </select>

                    </td>
                    <td class="rightTd" style="width:100px;">数量：</td>
                    <td>
                        <input id="assetArea" name="assetArea" class="easyui-numberbox"  data-options="min:0,precision:4" style="width:200px;height:28px;"
                               th:value="*{assetArea}"/>
                    </td>
                </tr>
                <tr>
                    <td class="rightTd" style="width:100px;">总楼层数：</td>
                    <td>
                        <input id="totalLayers" name="totalLayers" class="easyui-textbox"
                               style="width:200px;height:28px;"
                               th:value="*{totalLayers}"/>
                    </td>
                    <td class="rightTd" style="width:100px;">使用层数：</td>
                    <td>
                        <input id="usedLayers" name="usedLayers" class="easyui-textbox" style="width:200px;height:28px;"
                               th:value="*{usedLayers}"/>
                    </td>
                </tr>
            </table>
        </div>
        <div title="附加信息" style="padding:10px">
            <table cellspacing="0" cellPadding="0" class="addTable" style="margin-bottom: 10px;">
                <tr>
                    <td class="rightTd" style="width:100px;">攀钢自编号：</td>
                    <td>
                        <input id="housingNumber" name="housingNumber" class="easyui-textbox"
                               style="width:200px;height:28px;"
                               th:value="*{housingNumber}"/>
                    </td>
                    <td class="rightTd" style="width:100px;">社区编号：</td>
                    <td>
                        <input id="communityNumber" name="communityNumber" class="easyui-textbox"
                               style="width:200px;height:28px;"
                               th:value="*{communityNumber}"/>
                    </td>
                </tr>
                <tr>
                    <td class="rightTd" style="width:100px;">产权证号：</td>
                    <td>
                        <input id="propertyCertificateNo" name="propertyCertificateNo" class="easyui-textbox"
                               style="width:200px;height:28px;"
                               th:value="*{propertyCertificateNo}"/>
                    </td>
                    <td class="rightTd" style="width:100px;">土地资产编号：</td>
                    <td>
                        <input id="landAssetNo" name="landAssetNo" class="easyui-textbox"
                               style="width:200px;height:28px;"
                               th:value="*{landAssetNo}"/>
                    </td>
                </tr>
                <tr>
                    <td class="rightTd" style="width:100px;">土地证号：</td>
                    <td>
                        <input id="landCertificateNo" name="landCertificateNo" class="easyui-textbox"
                               style="width:200px;height:28px;"
                               th:value="*{landCertificateNo}"/>
                    </td>
                    <td class="rightTd" style="width:100px;">备注：</td>
                    <td>
                        <input id="bz" name="bz" class="easyui-textbox" style="width:200px;height:28px;"
                               th:value="*{bz}"/>
                    </td>
                </tr>
            </table>
        </div>
        <input hidden="true" name="deptId" id="deptId" th:value="*{deptId}"/>
        <input hidden="true" name="deptBh" id="deptBh" th:value="*{deptBh}"/>
        <input hidden="true" name="companyId" id="companyId" th:value="*{companyId}"/>
        <input hidden="true" name="companyBh" id="companyBh" th:value="*{companyBh}"/>
        <input hidden="true" name="managePointId" id="managePointId" th:value="*{managePointId}"/>
        <input hidden="true" name="sitDownId" id="sitDownId" th:value="*{sitDownId}"/>
        <input hidden="true" name="assetsTypeId" id="assetsTypeId" th:value="*{assetsTypeId}"/>
        <input hidden="true" name="id" id="id" th:value="*{id}"/>
    </div>
</form>
<script type="text/javascript" th:inline="none">
    //初始化
    $(function () {
        $('#sitDownName').textbox().textbox('addClearBtn', 'icon-clear');

        $('#structure').combobox({
            onHidePanel:function(){validateComboboxInputValue(this)}
        })
     });

    function listObject(object, objectId, objectName) {
        alert("object:" + object + " objectId:" + objectId + " objectName:" + objectName);
    }

    //部门选择器
    function listDeptInfo() {
        $("body").append("<div id='deptListContent' Style='display: none;'></div>");
        $('#deptListContent').dialog({
            title: "【部门】选择器...",
            iconCls: 'fa fa-check-square-o red',
            loadingMessage: '数据加载中,请稍等...',
            modal: true,
            height: 400,
            width: 450,
            top: '8%',
            href: 'findDeptInfo',
            onClose: function () {
                $(this).dialog("destroy").remove();
            }
        });
    }

    //公司选择器
    function listBillCorpInfo() {
        $("body").append("<div id='billCorpListContent' Style='display: none;'></div>");
        $('#billCorpListContent').dialog({
            title: "【公司】选择器...",
            iconCls: 'fa fa-check-square-o red',
            loadingMessage: '数据加载中,请稍等...',
            modal: true,
            height: 400,
            width: 450,
            top: '8%',
            href: 'findBillCorpInfo',
            onClose: function () {
                $(this).dialog("destroy").remove();
            }
        });
    }

    //管理区选择器
    function listManagePointInfo() {
        $("body").append("<div id='managePointInfoListContent' Style='display: none;'></div>");
        $('#managePointInfoListContent').dialog({
            title: "【管理处】选择器...",
            iconCls: 'fa fa-check-square-o red',
            loadingMessage: '数据加载中,请稍等...',
            modal: true,
            height: 400,
            width: 450,
            top: '8%',
            href: 'findManagePointInfo',
            onClose: function () {
                $(this).dialog("destroy").remove();
            }
        });
    }

    //坐落位置选择器
    function listSitDownInfo() {
        $("body").append("<div id='sitDownListContent' Style='display: none;'></div>");
        $('#sitDownListContent').dialog({
            title: "【坐落位置】选择器...",
            iconCls: 'fa fa-check-square-o red',
            loadingMessage: '数据加载中,请稍等...',
            modal: true,
            height: 400,
            width: 450,
            top: '8%',
            href: 'findSitDownInfo',
            onClose: function () {
                $(this).dialog("destroy").remove();
            }
        });
    }

    //房产类型选择器
    function listAssetsTypeInfo() {
        $("body").append("<div id='assetsTypeInfoContent' Style='display: none;'></div>");
        $('#assetsTypeInfoContent').dialog({
            title: "【房产类型】选择器...",
            iconCls: 'fa fa-check-square-o red',
            loadingMessage: '数据加载中,请稍等...',
            modal: true,
            height: 400,
            width: 450,
            top: '8%',
            href: 'findAssetsTypeInfo',
            onClose: function () {
                $(this).dialog("destroy").remove();
            }
        });
    }

</script>
</body>
</html>