<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<div class="easyui-navpanel">
    <header>
        <div id="sitDown-top-toolbar" style="height: 28px">
            <div class="m-toolbar">
                <div class="m-left">
                    快速查询：<input id="searchsitDownbox" class=" easyui-searchbox"
                                data-options="prompt:'输入关键字过滤',searcher:f_search"
                                style="width:200px;height: 28px;">
                </div>
            </div>
        </div>
    </header>
    <ul id="billCorpTree"  data-options=" border: true,
            loadMsg: false,
            checkbox: true,
            onlyLeafCheck: false,
            header: '#sitDown-top-toolbar',
            fit: true,
            onClick: function (node) {
                if (node.checked) {
                    $(this).tree('uncheck', node.target);
                } else {
                    $(this).tree('check', node.target);
                }
            }
            "></ul>
    <input type="hidden" id="keyword" th:value="${keyword}">
    <input type="hidden" id="corpType" th:value="${corpType}">
    <input type="hidden" id="status" th:value="${status}">
</div>

<script type="text/javascript" th:inline="none">
     $(function () {
        let eu = $("#billCorpTree").tree({
            url: 'getBillCorpList',
            queryParams:{
                keyword:$("#keyword").val(),
                corpType:$("#corpType").val(),
                status:$("#status").val(),
            },
            border: true,
            loadMsg: false,
            checkbox: true,
            onlyLeafCheck: false,
            header: '#sitDown-top-toolbar',
            fit: true,
            onClick: function (node) {
                if (node.checked) {
                    $(this).tree('uncheck', node.target);
                } else {
                    $(this).tree('check', node.target);
                }
            },
            onLoadSuccess:function () {
                $(".tree-icon,.tree-file").removeClass("tree-icon tree-file");
                $(".tree-icon,.tree-folder").removeClass("tree-icon tree-folder tree-folder-open tree-folder-closed");
            }
        });

     })

    function f_search(value) {
        $("#billCorpTree").tree("search", value);
    }
</script>

</html>
