<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout/header}">
<div layout:fragment="content">
    <table id="assetsInfoGrid">
        <thead>
        <tr>
            <th data-options="field:'id',title:'ID', checkbox:true"></th>
            <th th:each="item:${columns}" th:field="${item.field}" th:width="${item.width}"
                th:sortable="${item.sortable} " th:hidden="${item.hidden}" th:text="${item.title}"></th>
        </tr>
        </thead>
    </table>
    <div id="Ptools">
        <div class="m-toolbar" style="height: 200px;">
            <div class="m-left e-icon5 ">
                <table cellspacing="0" cellPadding="0" class="addTable">
                    <tr>
                        <td class="rightTd" style="width:80px;">公司名称：</td>
                        <td>
                            公司名称
                        </td>
                    </tr>
                    <tr>
                        <td class="rightTd" style="width:80px;">管理部门：</td>
                        <td class="leftTd">
                            <input id="deptID" name="deptID" class="easyui-searchbox"
                                   data-options="prompt:'请选择...',editable:false,searcher:_searchDeptID,height:28,width:200">
                        </td>
                    </tr>
                    <td class="rightTd" style="width:80px;">管理处：</td>
                    <td class="leftTd">
                        <select id="settID" name="settID"
                                data-options="panelMaxHeight:200,editable:false"
                                style="width:200px;height:28px;">
                            <option th:each="item:${managePointList}"
                                    th:value="${item.name}"
                                    th:text="${item.name}"></option>
                        </select>
                    </td>
                    <tr>
                        <td class="rightTd" style="width:80px;">坐落位置：</td>
                        <td>
                            坐落位置
                        </td>
                    </tr>
                    <tr>
                        <td class="rightTd" style="width:80px;">房产类型：</td>
                        <td class="leftTd">
                            <input id="assetsTypeName" name="assetsTypeName" class="easyui-searchbox"
                                   data-options="prompt:'请选择...',editable:false,searcher:_searchassetsType,height:28,width:200">
                        </td>
                    </tr>
                    <tr>
                        <td class="rightTd" style="width:80px;">查询字段：</td>
                        <td>
                             <span><select id="corpCode" name="corpType" class="easyui-combobox"
                                           data-options="panelMaxHeight:200,editable:false"
                                           style="width:120px;height:28px">
                                <option value="all">--所有--</option>
                                <option value="cardNumber">卡片编号</option>
                                <option value="assetName">资产名称</option>
                                <option value="nowName">现用名称</option>
                                <option value="housingNumber">攀钢自编名称</option>
                                <option value="communityNumber">社区名称</option>
                                <option value="propertyCertificateNo">产权证号</option>
                                <option value="landAssetNo">土地资产编号</option>
                                <option value="landCertificateNo">土地证号</option>
                            </select></span>
                            <span><input id="pcode" class="easyui-searchbox"
                                         data-options="prompt:'请输入关键字进行查询',searcher:_searchCorpInfo,height:28,width:200"></span>
                        </td>
                    </tr>
                </table>


            </div>
        </div>
    </div>
    <div id="buttons" style="padding: 2px 20px;height: 35px; ">
        <div class="m-toolbar">
            <div class="m-right">
                <button id="addCorpBtn" onclick="addCorp();" class="easyui-linkbutton "
                        data-options="plain:true,height:25,iconCls: 'e-icon1 fa fa-plus-square fa-1g'">
                    添加
                </button>
                <span class="datagrid-btn-separator"
                      style="vertical-align: middle;display:inline-block;float:none"></span>
                <button id="batchDeleteBtn" class="easyui-linkbutton" onclick="batchdeleteCorp();"
                        data-options="plain:true,disabled:true,height:25,iconCls:'e-icon1 fa fa-times fa-1g'">
                    批量删除
                </button>
                <span class="datagrid-btn-separator"
                      style="vertical-align: middle;display:inline-block;float:none"></span>
                <button id="importCorpBtn" onclick="importUpload();" class="easyui-linkbutton "
                        data-options="plain:true,height:25,iconCls:'e-icon1 fa fa-cloud-upload fa-1g'">导入Excel
                </button>
                <span class="datagrid-btn-separator"
                      style="vertical-align: middle;display:inline-block;float:none"></span>
                <button id="exportDownBtn" onclick="exportDown();" class="easyui-linkbutton "
                        data-options="plain:true,height:25,iconCls:'e-icon1 fa fa-cloud-download fa-1g'">导出Excel
                </button>
                <span class="datagrid-btn-separator"
                      style="vertical-align: middle;display:inline-block;float:none"></span>
                <button class="easyui-linkbutton"
                        data-options="plain:true,height:25,iconCls: 'e-icon1 fa fa-cog fa-1g'"
                        onclick="headerSetup('assetsInfoGrid')">列配置
                </button>
            </div>
        </div>
    </div>
    <div id="deptContent" Style="display: none;"></div>
    <div id="assetsTypeContent" Style="display: none;"></div>
    <script type="text/javascript" th:src="@{/static/js/plugins/jqueryform.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/plugins/columns-ext.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/plugins/datagrid-dnd.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/plugins/jquery.datagrid.extend.js}"></script>
    <script type="text/javascript" th:inline="none" th:src="@{/static/js/admin/assetsInfo.js}"></script>
    <script th:inline="javascript">var basepath = [[${session.basePath}]];</script>
    <script th:inline="javascript">

        $(function () {

            $("#assetsTypeId").combotree({
                multiple: true,
                checkbox: true,
                onlyLeafCheck: false,
                onLoadSuccess: function () {
                    $(".tree-icon,.tree-file").removeClass("tree-icon tree-file");
                    $(".tree-icon,.tree-folder").removeClass("tree-icon tree-folder tree-folder-open tree-folder-closed");
                }
            })
            //管理处复选框事件
            $("#settID").combobox({
                multiple: true,
                prompt: '请选择...',
                formatter: function (row) {
                    let opts = $(this).combobox('options');
                    return '<input type="checkbox" class="combobox-checkbox">&nbsp;' + row[opts.textField];
                },
                onLoadSuccess: function () {
                    $(this).combobox('setValues', "");
                    let opts = $(this).combobox('options');
                    let target = this;
                    let values = $(target).combobox('getValues');
                    $.map(values, function (value) {
                        let el = opts.finder.getEl(target, value);
                        el.find('input.combobox-checkbox')._propAttr('checked', true);
                    })
                    $(this).combobox("panel").parent("div").append("<div style='border-width: 1px; border-style: solid; border-top: transparent;border-left-color:#d4d4d4;border-right-color:#d4d4d4;border-bottom-color:#d4d4d4;background: #F5F5F5;height: 35px;padding: 5px;text-align: center'><button class='c8' style='border: 0;width: 60px;height: 25px;margin-right: 3px;' id='combox_select'>正选</button><button  class='c8' style='border: 0;width: 60px;height: 25px' id='combox_close'>确定</button></div>");
                },
                onSelect: function (row) {
                    let opts = $(this).combobox('options');
                    let el = opts.finder.getEl(this, row[opts.valueField]);
                    el.find('input.combobox-checkbox')._propAttr('checked', true);
                },
                onUnselect: function (row) {
                    let opts = $(this).combobox('options');
                    let el = opts.finder.getEl(this, row[opts.valueField]);
                    el.find('input.combobox-checkbox')._propAttr('checked', false);
                }
            })

            //全选（反选）
            $("#combox_select").linkbutton({
                onClick: function () {
                    let str = $("#combox_select").linkbutton("options").text;
                    let valueField = $("#settID").combobox("options").valueField;
                    let data = $("#settID").combobox("getData");
                    let selectVaues = [];
                    if (is_eq("正选", str)) {
                        $('#combox_select').linkbutton({text: '反选'});
                        data.reduce(function (prev, current, index, array) {
                            selectVaues.push(current[valueField]);
                        }, selectVaues);

                    } else {
                        selectVaues.push(null);
                        $('#combox_select').linkbutton({text: '正选'});
                    }
                    $("#settID").combobox('setValues', selectVaues);

                }
            })
            // 关闭下拉框
            $("#combox_close").linkbutton({
                onClick: function () {
                    $('#settID').combobox('hidePanel');

                }
            })

        })

        //管理部门列表
        function _searchDeptID(value) {
            let deptParent = $('#deptContent').parent();
            let deptOwn = $('#deptContent').clone();
            deptOwn.hide();
            $('#deptContent').dialog({
                title: "【部门】选择器...",
                loadingMessage: false,
                modal: true,
                height: 400,
                width: 350,
                top: '10%',
                left: '35%',
                border: true,
                constrain: true,
                href: 'getDeptInfo',
                queryParams: {
                    keyword: value
                },
                onClose: function () {
                    deptOwn.appendTo(deptParent);
                    $(this).dialog("destroy").remove();
                },
                buttons: [{
                    iconCls: 'e-icon2 fa fa-check red',
                    text: '选择',
                    handler: function () {
                        let rows = $('#deptTree').tree('getChecked', ['checked', 'indeterminate']);
                        let ids = $(rows).map(function () {
                            if (is_eq("F", this.arg1))
                                return this.arg;
                        }).get().join(";");
                        $("#deptID").textbox("setValue", ids);
                        $('#deptContent').dialog('close');

                    }
                }, {
                    iconCls: 'e-icon2 fa fa-reply',
                    text: '关闭',
                    handler: function () {
                        $('#deptContent').dialog('close');
                    }
                }]
            });
        }

        //房产类型
        function _searchassetsType(value) {
            let assetsTypeParent = $('#assetsTypeContent').parent();
            let assetsTypeOwn = $('#assetsTypeContent').clone();
            assetsTypeOwn.hide();
            $('#assetsTypeContent').dialog({
                title: "【房产类型】选择器...",
                loadingMessage: false,
                modal: true,
                height: 400,
                width: 350,
                top: '10%',
                left: '35%',
                border: true,
                constrain: true,
                href: 'getAssetsType',
                queryParams: {
                    keyword: value
                },
                onClose: function () {
                    assetsTypeOwn.appendTo(assetsTypeParent);
                    $(this).dialog("destroy").remove();
                },
                buttons: [{
                    iconCls: 'e-icon2 fa fa-check red',
                    text: '选择',
                    handler: function () {
                        let rows = $('#assetsTypeTree').tree('getChecked', ['checked', 'indeterminate']);
                        let ids = $(rows).map(function () {
                            if (is_eq("F", this.arg))
                                return this.text;
                        }).get().join(";");
                        $("#assetsTypeName").textbox("setValue", ids);
                        $('#assetsTypeContent').dialog('close');
                    }
                }, {
                    iconCls: 'e-icon2 fa fa-reply',
                    text: '关闭',
                    handler: function () {
                        $('#assetsTypeContent').dialog('close');
                    }
                }]
            });
        }

    </script>

</div>

</html>
