<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout/header}">
<div layout:fragment="content">
    <table id="assetsInfoGrid">
        <thead>
        <tr>
            <th data-options="field:'id',title:'ID', checkbox:true"></th>
            <th th:each="item:${columns}" th:field="${item.field}" th:width="${item.width}"
                th:sortable="${item.sortable} " th:hidden="${item.hidden}" th:text="${item.title}"></th>
        </tr>
        </thead>
    </table>
    <div id="Ptools">
        <div class="m-toolbar" style="height: 230px;">
            <div class="m-left e-icon5 ">
                <table cellspacing="0" cellPadding="0" class="addTable">
                    <tr>
                        <td class="rightTd" style="width:80px;">公司名称：</td>
                        <td class="leftTd">
                            <input id="corp_Name" name="corp_Name" class="easyui-searchbox"
                                   data-options="prompt:'请选择...',editable:false,searcher:_searchCorpName,height:28,width:200">
                        </td>
                    </tr>
                    <tr>
                        <td class="rightTd" style="width:80px;">管辖部门：</td>
                        <td class="leftTd">
                            <input id="dept_Name" name="dept_Name" class="easyui-searchbox"
                                   data-options="prompt:'请选择...',editable:false,searcher:_searchDeptID,height:28,width:200">
                        </td>
                    </tr>
                    <td class="rightTd" style="width:80px;">管理处：</td>
                    <td class="leftTd">
                        <input id="managePoint_Name" name="managePoint_Name" class="easyui-searchbox"
                               data-options="prompt:'请选择...',editable:false,searcher:_searchManagePoint,height:28,width:200">
                    </td>

                    <tr>
                        <td class="rightTd" style="width:80px;">坐落位置：</td>
                        <td class="leftTd">
                            <input id="sitDown_Name" name="sitDown_Name" class="easyui-searchbox"
                                   data-options="prompt:'请选择...',editable:false,searcher:_searchSitDown,height:28,width:200">
                        </td>
                    </tr>
                    <tr>
                        <td class="rightTd" style="width:80px;">房产类型：</td>
                        <td class="leftTd">
                            <input id="assetsType_Name" name="assetsType_Name" class="easyui-searchbox"
                                   data-options="prompt:'请选择...',editable:false,searcher:_searchassetsType,height:28,width:200">
                        </td>
                    </tr>
                    <tr>
                        <td class="rightTd" style="width:80px;">关键字段：</td>
                        <td>
                             <span><select id="codeType" name="codeType" class="easyui-combobox"
                                           data-options="panelMaxHeight:200,editable:false"
                                           style="width:120px;height:28px">
                                <option value="all">--所有--</option>
                                <option value="card_Number">卡片编号</option>
                                <option value="asset_Name">资产名称</option>
                                <option value="now_Name">现用名称</option>
                                <option value="housing_Number">攀钢自编号</option>
                                <option value="community_Number">社区名称</option>
                                <option value="propertyCertificate_No">产权证号</option>
                                <option value="landAsset_No">土地资产编号</option>
                                <option value="landCertificate_No">土地证号</option>
                            </select></span>
                            <span><input id="codeValue" name="codeValue" data-options="prompt:'请输入关键内容进行查询',height:28,width:200"></span>
                            <button  class="easyui-linkbutton" onclick="_searcherAssetsInfo();" data-options="iconCls:'icon-search',width:70,height:28">查询</button>
                        </td>
                    </tr>
                </table>


            </div>
        </div>
    </div>
    <div id="buttons" style="padding: 2px 20px;height: 35px; ">
        <div class="m-toolbar">
            <div class="m-right">
                <button id="addAssetsInfoBtn" onclick="addAssetsInfo();" class="easyui-linkbutton "
                        data-options="plain:true,height:25,iconCls: 'e-icon1 fa fa-plus-square fa-1g red '">
                    房产登记
                </button>
                <span class="datagrid-btn-separator"
                      style="vertical-align: middle;display:inline-block;float:none"></span>
                <button id="batchDeleteBtn" class="easyui-linkbutton" onclick="batchdeleteCorp();"
                        data-options="plain:true,disabled:true,height:25,iconCls:'e-icon1 fa fa-times fa-1g'">
                    批量删除
                </button>
                <span class="datagrid-btn-separator"
                      style="vertical-align: middle;display:inline-block;float:none"></span>
                <button id="importCorpBtn" onclick="importUpload();" class="easyui-linkbutton "
                        data-options="plain:true,height:25,iconCls:'e-icon1 fa fa-cloud-upload fa-1g'">导入房产
                </button>
                <span class="datagrid-btn-separator"
                      style="vertical-align: middle;display:inline-block;float:none"></span>
                <button id="exportDownBtn" onclick="exportDown();" class="easyui-linkbutton "
                        data-options="plain:true,height:25,iconCls:'e-icon1 fa fa-cloud-download fa-1g'">导出房产
                </button>
                <span class="datagrid-btn-separator"
                      style="vertical-align: middle;display:inline-block;float:none"></span>
                <button class="easyui-linkbutton"
                        data-options="plain:true,height:25,iconCls: 'e-icon1 fa fa-cog fa-1g'"
                        onclick="headerSetup('assetsInfoGrid')">列配置
                </button>
            </div>
        </div>
    </div>
    <div id="deptContent" Style="display: none;"></div>
    <div id="assetsTypeContent" Style="display: none;"></div>
    <div id="sitDownContent" Style="display: none;"></div>
    <div id="corpInfoContent" Style="display: none;"></div>
    <div id="managePointContent" Style="display: none;"></div>
    <script type="text/javascript" th:src="@{/static/js/plugins/jqueryform.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/plugins/columns-ext.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/plugins/datagrid-dnd.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/plugins/jquery.datagrid.extend.js}"></script>
    <script type="text/javascript" th:inline="none" th:src="@{/static/js/admin/assetsInfo.js}"></script>
    <script th:inline="javascript">var basepath = [[${session.basePath}]];</script>
    <script type="text/javascript" th:inline="none">
        $(function () {
            $("#assetsTypeId").combotree({
                multiple: true,
                checkbox: true,
                onlyLeafCheck: false,
                onLoadSuccess: function () {
                    $(".tree-icon,.tree-file").removeClass("tree-icon tree-file");
                    $(".tree-icon,.tree-folder").removeClass("tree-icon tree-folder tree-folder-open tree-folder-closed");
                }
            })
            $('#codeValue').textbox().textbox('addClearBtn', 'icon-clear');
            $('#codeValue').textbox('textbox').bind('keydown', function (e) {
                if (e.keyCode == 13) {
                    _searcherAssetsInfo();
                }
            });
        })

        //管理部门列表
        function _searchDeptID(value) {
            let deptParent = $('#deptContent').parent();
            let deptOwn = $('#deptContent').clone();
            deptOwn.hide();
            $('#deptContent').dialog({
                title: "【部门】选择器...",
                loadingMessage: false,
                modal: true,
                height: 400,
                width: 350,
                top: '10%',
                left: '35%',
                border: true,
                constrain: true,
                href: 'getDeptInfo',
                queryParams: {
                    keyword: value
                },
                onClose: function () {
                    deptOwn.appendTo(deptParent);
                    $(this).dialog("destroy").remove();
                },
                buttons: [{
                    iconCls: 'e-icon2 fa fa-check red',
                    text: '选择',
                    handler: function () {
                        let rows = $('#deptTree').tree('getChecked', ['checked', 'indeterminate']);
                        let ids = $(rows).map(function () {
                            if (is_eq("F", this.arg1))
                                return this.text;
                        }).get().join(";");
                        $("#dept_Name").textbox("setValue", ids);
                        $('#deptContent').dialog('close');

                    }
                }, {
                    iconCls: 'e-icon2 fa fa-reply',
                    text: '关闭',
                    handler: function () {
                        $('#deptContent').dialog('close');
                    }
                }]
            });
        }

        //房产类型
        function _searchassetsType(value) {
            let assetsTypeParent = $('#assetsTypeContent').parent();
            let assetsTypeOwn = $('#assetsTypeContent').clone();
            assetsTypeOwn.hide();
            $('#assetsTypeContent').dialog({
                title: "【房产类型】选择器...",
                loadingMessage: false,
                modal: true,
                height: 400,
                width: 350,
                top: '10%',
                left: '35%',
                border: true,
                constrain: true,
                href: 'getAssetsType',
                queryParams: {
                    keyword: value
                },
                onClose: function () {
                    assetsTypeOwn.appendTo(assetsTypeParent);
                    $(this).dialog("destroy").remove();
                },
                buttons: [{
                    iconCls: 'e-icon2 fa fa-check red',
                    text: '选择',
                    handler: function () {
                        let rows = $('#assetsTypeTree').tree('getChecked', ['checked', 'indeterminate']);
                        let ids = $(rows).map(function () {
                            if (is_eq("F", this.arg))
                                return this.text;
                        }).get().join(";");
                        $("#assetsType_Name").textbox("setValue", ids);
                        $('#assetsTypeContent').dialog('close');
                    }
                }, {
                    iconCls: 'e-icon2 fa fa-reply',
                    text: '关闭',
                    handler: function () {
                        $('#assetsTypeContent').dialog('close');
                    }
                }]
            });
        }

        //坐落位置
        function _searchSitDown(value) {
            let assetsTypeParent = $('#sitDownContent').parent();
            let assetsTypeOwn = $('#sitDownContent').clone();
            assetsTypeOwn.hide();
            $('#sitDownContent').dialog({
                title: "【坐落位置】选择器...",
                loadingMessage: false,
                modal: true,
                height: 400,
                width: 350,
                top: '10%',
                left: '35%',
                border: true,
                constrain: true,
                href: 'getSitDownInfo',
                queryParams: {
                    keyword: value
                },
                onClose: function () {
                    assetsTypeOwn.appendTo(assetsTypeParent);
                    $(this).dialog("destroy").remove();
                },
                buttons: [{
                    iconCls: 'e-icon2 fa fa-check red',
                    text: '选择',
                    handler: function () {
                        let rows = $('#sitDownTree').tree('getChecked', ['checked', 'indeterminate']);
                        let ids = $(rows).map(function () {
                            if (!is_eq("all", this.id))
                                return this.text;
                        }).get().join(";");
                        $("#sitDown_Name").textbox("setValue", ids);
                        $('#sitDownContent').dialog('close');
                    }
                }, {
                    iconCls: 'e-icon2 fa fa-reply',
                    text: '关闭',
                    handler: function () {
                        $('#sitDownContent').dialog('close');
                    }
                }]
            });
        }
        //管理处
        function _searchManagePoint(value) {
            let managePointParent = $('#managePointContent').parent();
            let managePointOwn = $('#managePointContent').clone();
            managePointOwn.hide();
            $('#managePointContent').dialog({
                title: "【管理处】选择器...",
                loadingMessage: false,
                modal: true,
                height: 400,
                width: 350,
                top: '10%',
                left: '35%',
                border: true,
                constrain: true,
                href: 'getManagePointInfo',
                queryParams: {
                    keyword: value
                },
                onClose: function () {
                    managePointOwn.appendTo(managePointParent);
                    $(this).dialog("destroy").remove();
                },
                buttons: [{
                    iconCls: 'e-icon2 fa fa-check red',
                    text: '选择',
                    handler: function () {
                        let rows = $('#managePointTree').tree('getChecked', ['checked', 'indeterminate']);
                        let ids = $(rows).map(function () {
                            if (!is_eq("all", this.id))
                                return this.text;
                        }).get().join(";");
                        $("#managePoint_Name").textbox("setValue", ids);
                        $('#managePointContent').dialog('close');
                    }
                }, {
                    iconCls: 'e-icon2 fa fa-reply',
                    text: '关闭',
                    handler: function () {
                        $('#managePointContent').dialog('close');
                    }
                }]
            });
        }

        //公司名称选择器
        function _searchCorpName(value) {
            let corpInfoParent = $('#corpInfoContent').parent();
            let corpInfoOwn = $('#corpInfoContent').clone();
            corpInfoOwn.hide();
            $('#corpInfoContent').dialog({
                title: "【公司】选择器...",
                loadingMessage: false,
                modal: true,
                height: 400,
                width: 350,
                top: '10%',
                left: '35%',
                border: true,
                constrain: true,
                href: 'getBillCorpInfo',
                queryParams: {
                    keyword: value,
                    corpType: "0",
                    status: 1
                },
                onClose: function () {
                    corpInfoOwn.appendTo(corpInfoParent);
                    $(this).dialog("destroy").remove();
                },
                buttons: [{
                    iconCls: 'e-icon2 fa fa-check red',
                    text: '选择',
                    handler: function () {
                        let rows = $('#billCorpTree').tree('getChecked', ['checked', 'indeterminate']);
                        let ids = $(rows).map(function () {
                            if (!is_eq("all", this.id))
                                return this.text;
                        }).get().join(";");
                        $("#corp_Name").textbox("setValue", ids);
                        $('#corpInfoContent').dialog('close');
                    }
                }, {
                    iconCls: 'e-icon2 fa fa-reply',
                    text: '关闭',
                    handler: function () {
                        $('#corpInfoContent').dialog('close');
                    }
                }]
            });
        }
        //查询
        function _searcherAssetsInfo() {
            var queryparams={
                codeValue:$("#codeValue").textbox("getValue"),
                codeType:$("#codeType").combobox("getValue"),
                corp_Name:$("#corp_Name").searchbox("getValue"),
                dept_ID:$("#dept_Name").searchbox("getValue"),
                managePoint_Name:$("#managePoint_Name").searchbox("getValue"),
                sitDown_Name:$("#sitDown_Name").searchbox("getValue"),
                assetsType_Name:$("#assetsType_Name").searchbox("getValue")
            };
            $('#assetsInfoGrid').datagrid('options').queryParams = queryparams;
            $('#assetsInfoGrid').datagrid('reload');
        }


    </script>

</div>

</html>
