<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout/header}">
<div layout:fragment="content">
    <table id="manage_point_grid">
        <thead>
        <tr>
            <th th:each="item:${columns}" th:field="${item.field}" th:width="${item.width}"
                th:sortable="${item.sortable} " th:hidden="${item.hidden}" th:text="${item.title}"></th>
        </tr>
        </thead>
    </table>
    <div id="Ptools">
        <div class="m-toolbar" style="height: 36px;">
            <div class="m-left e-icon5 " style="padding-left: 5px;">
                <input id="searchbox" class="easyui-searchbox" data-options="prompt:'输入关键字查询',searcher:f_search,icons: [{
                        iconCls:'icon-clear',
                        handler: function(e){
                            $(e.data.target).textbox('clear');
                        }
                    }]"
                       style="width:200px;height: 28px;">
                <button id="addBtn" onclick="addRow();" class="easyui-linkbutton "
                        data-options="plain:true,height:25,iconCls: 'e-icon1 fa fa-plus-square fa-1g'">
                    新增
                </button>
            </div>
        </div>
    </div>
    <script type="text/javascript" th:src="@{/static/js/plugins/jqueryform.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/plugins/columns-ext.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/plugins/datagrid-dnd.js}"></script>
    <script type="text/javascript" th:inline="none" th:src="@{/static/js/admin/manage_point.js}"></script>
    <script th:inline="javascript">var basepath = [[${session.basePath}]];</script>
</div>
</html>
