<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <form id="prototypeFrom" th:action="@{save}" th:object="${ancillaryProjects}" method="post">
            <table cellspacing="0" cellPadding="0" class="addTable">
                <tr>
                    <td class="rightTd" style="width:100px;">项目编号：</td>
                    <td>
                        <input name="projectsBh" class="easyui-textbox"  style="width:200px;height:28px;" th:value="*{projectsBh}"/>
                    </td>
                </tr>
                <tr>
                    <td class="rightTd" style="width:100px;"><i class="info">*</i>项目名称：</td>
                    <td>
                        <input name="projectsName" class="easyui-textbox" data-options="required:true,missingMessage:null" style="width:200px;height:28px;" th:value="*{projectsName}"/>
                    </td>
                </tr>
                <tr>
                    <td class="rightTd" style="width:100px;">所属项目：</td>
                    <td>
                        <input id="pid" name="pid" class="easyui-combotree" th:value="${pid!='all'?pid:''}"
                               th:disabled="${disabled}" style="width:200px;height:30px;" th:url="@{listParent(t_id=${ancillaryProjects.t_id})}"
                               data-options="prompt:'请选择...', editable:true,panelMaxHeight : 200,panelWidth : 300,onLoadSuccess:function (row,data) {
                }"/>
                    </td>
                </tr>
                <tr>
                    <td class="rightTd" style="width:100px;">状态标识：</td>
                    <td>
                        <input class="easyui-switchbutton" th:checked="${ancillaryProjects.ztbz=='T'?1:0}"
                               style="height:28px;"
                               data-options="onText:'启用',offText:'停用',
                        onChange:function(checked){
                        if(checked){
                        $('#ztbz').val('T');
                        } else{
                        $('#ztbz').val('F');
                        }
                        }">
                    </td>
                </tr>
            </table>
            <input hidden="true" name="ztbz" id="ztbz" th:value="*{ztbz}"/>
            <input hidden="true" name="id" id="id" th:value="*{id}"/>
            <input hidden="true" name="t_id" id="t_id" th:value="*{t_id}"/>
            <input hidden="true" name="contents" id="contents" th:value="*{contents}"/>
            <script th:inline="javascript">

            </script>
        </form>
    </body>
</html>