<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout/header}">
<div layout:fragment="content">
    <div class="easyui-layout" fit="true">
        <div data-options="region:'west',title:'角色名称',iconCls: 'e-icon2 fa fa-ellipsis-v fa-1g'"
             style="width:200px;">
            <div id="Ttools" style="padding: 2px 4px 2px 2px;">
                <input id="tcode" class="easyui-searchbox"
                       data-options="prompt:'请输入关键字进行定位',searcher:_searchRole,height:28,width:'100%'"></div>
            <ul id="tlist" style="margin-left: 20px;margin-right: 10px;"></ul>
            <div id="Ftools" style="padding: 5px 2px;text-align:center;">
                <button id="addRole" onclick="addRole();" class="easyui-linkbutton c8"
                   data-options="plain:true,height:25,iconCls:'e-icon fa fa-plus'">添加</button>
                <button id="editRole" onclick="editRole();" class="easyui-linkbutton c8"
                   data-options="plain:true,height:25,iconCls:'e-icon fa fa-edit'">编辑</button>
                <button id="delRole" onclick="delRole();" class="easyui-linkbutton c8"
                   data-options="plain:true,height:25,iconCls:'e-icon2 fa fa-trash'">删除</button>
            </div>
            <div id="roleContent" Style="display: none;padding:10px;"></div>
        </div>
        <div data-options="region:'center',title:'权限列表',iconCls: 'e-icon2 fa fa-ellipsis-v fa-1g'" style="padding: 0;">
            <table style="height: 100%">
                <tr>
                    <td>
                        <div id="dl1" style="height:100%;width:300px;"></div>
                    </td>
                    <td>
                        <button id="dl_add" class="easyui-linkbutton c4" data-options="height:25,iconCls: 'e-icon2 fa fa-step-forward'" style="width:50px;margin:5px;"></button>
                        <br/>
                        <button id="dl_add_all" class="easyui-linkbutton c3" data-options="height:25,iconCls: 'e-icon2 fa fa-fast-forward'" style="width:50px;margin:5px;"></button>
                        <br/>
                        <button id="dl_remove_all" class="easyui-linkbutton c3" data-options="height:25,iconCls: 'e-icon2 fa fa-fast-backward'"  style="width:50px;margin:5px;"></button>
                        <br/>
                        <button id="dl_remove" class="easyui-linkbutton c4" data-options="height:25,iconCls: 'e-icon2 fa fa-step-backward'" style="width:50px;margin:5px;"></button>
                    </td>
                    <td>
                        <div id="dl2" style="height:100%;width:300px;"></div>
                    </td>
                </tr>
            </table>
        </div>
        <div id="wfqx" style="padding: 2px 4px 2px 10px;">
            未付权限：<input id="wcode" class="easyui-searchbox"
                        data-options="prompt:'请输入关键字进行定位',searcher:_searchMenu,height:28,width:200"></div>
        <div id="yfqx" style="padding: 2px 4px 2px 10px;">
            已付权限：<input id="ycode" class="easyui-searchbox"
                        data-options="prompt:'请输入关键字进行定位',searcher:_searchPerm,height:28,width:200"></div>
    </div>
    <script type="text/javascript" th:src="@{/static/js/plugins/jqueryform.js}"></script>
    <script type="text/javascript" th:inline="none" th:src="@{/static/js/admin/role.js}"></script>
</div>
</html>
