<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="easyui-navpanel" style="margin:0; padding:10px;" align="center">
    <form id="pswForm" method="post" action="">
        <table cellspacing="0" cellPadding="0" class="addTable">
            <tr>
                <td width="80" class="title">原始密码:</td>
                <td><input style="width:150px;height:30px" id="password" name="password" class="easyui-passwordbox"
                           value=""/></td>
            </tr>
            <tr>
                <td width="80" class="title">重设密码:</td>
                <td><input style="width:150px;height:30px" name="newPwd" id="newPwd" class="easyui-passwordbox"
                           value=""/></td>
            </tr>
            <tr>
                <td width="80" class="title">确认密码:</td>
                <td><input style="width:150px;height:30px" name="confirmPwd" id="confirmPwd" class="easyui-passwordbox"
                           value=""/></td>
            </tr>
        </table>
        <input name="user_id" id="user_id" th:value="${userId}" type="hidden"/>
    </form>
</div>
</html>